<IfModule mod_rewrite.c>
    # Enable Rewrite Engine
    RewriteEngine On

    # Redirect all requests to /public unless already pointing to /public
    RewriteCond %{REQUEST_URI} !^/public/.*$
    RewriteRule ^(.*)$ /public/$1 [L]

</IfModule>
