<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="asset/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="asset/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="asset/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="asset/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="asset/styles.css">
</head>

<body>

    <div>
        <section id="sidebarandheader">
            <div class="main">
                <div class="header-sidebar">
                    <header id="header">
                        <div class="header-flex">
                            <div class="header-left">
                                <h4>ICoNDACoM</h4>
                            </div>
                            <div class="header-right">
                                <h4>ICoNDACoM</h4>
                                <p>ICoNDACoM.com.ng</p>
                            </div>
                        </div>
                    </header>

                    <div class="header-mobile">
                        <div class="header-with">
                            <div class="mobile-menu" id="openmobilebar" onclick="openMobileMenu()">
                                <i class="fa fa-angle-right"></i>
                            </div>

                            <p>Online Learning</p>
                            <div class="mobile-menu">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>

                    <div class="navbar">
                        <div class="nav-right">
                            <div class="nav-top">
                                <div class="nav-brand">
                                    <img src="asset/photos/logo.png" alt="Logo" />
                                </div>
                                <div class="nav-open" id="closesidebar" onclick="toggleSidebar(false, event)">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="nav-open" id="opensidebar" onclick="toggleSidebar(true, event)">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="mobile-menu" id="closemobilebar" onclick="closeMobileMenu()">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-nav">
                            <li>
                                <a href="../dashboard/">
                                    <div class="link-hover">
                                        <i class="fa fa-home"></i>
                                        <span>Dashboard</span>
                                    </div>
                                </a>
                            </li>
                            <div v-else-if="$page.props.auth.user.role == '2'">
                                <li>
                                    <a href="myacount.html">
                                        <div class="link-hover">
                                            <i class="fa fa-user-circle"></i>
                                            <span>My profile</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/apply">
                                        <div class="link-hover">
                                            <i class="fa fa-user-circle"></i>
                                            <span>Apply</span>
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <li>
                                <a href="route('logout')" method="post">
                                    <div class="link-hover">
                                        <i class="fa fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </div>
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section>
        <div class="main">
            <section id="mainbody">
                <div class="main-body">
                    <!-- start Dashboard tabs -->
                    <div class="str">
                        <div class="str-home">
                            <i class="fa fa-home"></i>
                            <div class="db">
                                <h4>Dashboard / &nbsp;</h4>
                                <p>Registration</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="was-apply"
                            v-if="($page.props.auth.user.role == '3' && $page.props.auth.user.is_active == '1') || ($page.props.auth.user.role == '4' && $page.props.auth.user.is_active == '1')">
                            <div class="tabs" id="tabls">
                                <div class="full-chart">
                                    <div class="chart-title">
                                        <h3>Hi {{ $page.props.auth.user.name }}</h3>
                                        <p>Congratulation your application has been submited success fully we contact you
                                            shortly through email or phone number</p>
                                    </div>
                                    <div class="dont-have">
                                        <img src="../../../../public/asset/photos/3d-male-character-jumping-out-from-smart-phone-screen-and-holding-a-megaphone-free-png.png"
                                            alt="">
                                    </div>
                                    <div class="create-app">
                                        <Link :href="route('dashboard')">
                                        Review
                                        </Link>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div> -->
                    <div class="now-apply" v-else-if="$page.props.auth.user.role == '2'">
                        <div class="tabs" id="tabls">
                            <div class="full-chart">
                                <div class="chart-title">
                                    <h3>Hi Abubakar Mrcode</h3>
                                    <p>Please click the apply button to apply as donar or hospital</p>
                                </div>
                                <form class="form-apply mt-1" enctype="multipart/form-data">
                                    <div class="form-body form-padding-0">
                                        <div class="form-group">
                                            <select name="" autofocus @change="roles(true)" id="roleCheck"
                                                v-model="form.role">
                                                <option value="" hidden>select role first</option>
                                                <option value="2">Hospital</option>
                                                <option value="3">Donor</option>
                                            </select>
                                            <label for="">Select role first <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="form-donor-user" id="donorCheck">
                                            <div class="grid grid:3 gap10">
                                                <div class="form-group">
                                                    <input type="text" placeholder=" "
                                                        :value="$page.props.auth.user.name" readonly>
                                                    <label for="">Full name <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" placeholder=" "
                                                        :value="$page.props.auth.user.email" readonly>
                                                    <label for="">Email <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="form-alt">
                                                    <div class="form-group">
                                                        <input type="number" placeholder=" " v-model="form.pnumber">
                                                        <label for="">Phone Number <span
                                                                class="text-danger">*</span></label>
                                                    </div>
                                                    <InputError class="password-alert" :message="form.errors.pnumber" />
                                                </div>
                                            </div>
                                            <div class="grid grid:3 gap10">
                                                <div class="fo">
                                                    <div class="form-group">
                                                        <select name="" autofocus v-model="form.gender">
                                                            <option value="" hidden>Gender</option>
                                                            <option value="1">Male</option>
                                                            <option value="2">Female</option>
                                                        </select>
                                                        <label for=""> <span class="text-danger">*</span></label>
                                                    </div>
                                                    <InputError class="password-alert" :message="form.errors.gender" />
                                                </div>
                                                <div class="form-alt">
                                                    <div class="form-group">
                                                        <select name="" autofocus v-model="form.blood_group">
                                                            <option value="" hidden>Blood Group</option>
                                                            <option v-for="blood in bloods" :key="blood.id"
                                                                :value="blood.id">
                                                                {{ blood.blood_name }}</option>
                                                        </select>
                                                        <label for=""> <span class="text-danger">*</span></label>
                                                    </div>
                                                    <InputError class="password-alert"
                                                        :message="form.errors.blood_group" />
                                                </div>
                                                <div class="form-alt">
                                                    <div class="form-group">
                                                        <select name="" autofocus v-model="form.hiv">
                                                            <option value="" hidden>Hiv Seen</option>
                                                            <option value="1">Yes</option>
                                                            <option value="2">No</option>
                                                        </select>
                                                        <label for=""> <span class="text-danger">*</span></label>
                                                    </div>
                                                    <InputError class="password-alert" :message="form.errors.hiv" />
                                                </div>
                                            </div>

                                            <!-- home address  -->

                                            <div class="card-title">
                                                <h4>Address</h4>
                                            </div>

                                            <div class="grid grid:3 gap10">
                                                <div class="form-group">
                                                    <select name="" autofocus @change="getLgaDonor(true)"
                                                        id="stateDonor" v-model="form.donor_state">
                                                        <option value="" hidden>state</option>
                                                        <option v-for="states in state" :key="states.id"
                                                            :value="states.id">
                                                            {{ states.state }}</option>
                                                    </select>
                                                    <label for=""> <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="form-al">
                                                    <div class="form-group">
                                                        <select name="" autofocus v-model="form.localGovt">
                                                            <option value="" hidden>Lga</option>
                                                            <option v-for="lgas in lga" :key="lgas.id" :value="lgas.id">
                                                                {{
                                                                lgas.lga_name }}</option>
                                                        </select>
                                                        <label for=""> <span class="text-danger">*</span></label>
                                                    </div>
                                                    <InputError class="password-alert" :message="form.errors.lga" />
                                                </div>
                                                <div class="form-alt">
                                                    <div class="form-group">
                                                        <textarea name="" placeholder="Home address"
                                                            v-model="form.home_address"></textarea>
                                                        <label for=""> <span class="text-danger">*</span></label>
                                                    </div>
                                                    <InputError class="password-alert"
                                                        :message="form.errors.home_address" />
                                                </div>
                                            </div>


                                            <!-- upload files  -->
                                            <div class="card-title">
                                                <h4>Upload Test Blood Pepar</h4>
                                            </div>

                                            <div class="grid grid:3 gap10 mt-1">
                                                <div class="form-group">
                                                    <input type="file" name="" id="">
                                                    <label for="">Pepar Front <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="file" name="">
                                                    <label for="">Pepar Back <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="form-alt">
                                                    <div class="form-group">
                                                        <textarea name="" placeholder="Reason To Give The Blood"
                                                            v-model="form.reason"></textarea>
                                                        <label for=""> <span class="text-danger">*</span></label>
                                                    </div>
                                                    <InputError class="password-alert" :message="form.errors.reason" />
                                                </div>
                                            </div>
                                            <div class="mt-1">
                                                <div class="checkBox">
                                                    <input type="checkbox">
                                                    <span>Accept
                                                        <Link>Terms</Link> &
                                                        <Link>Condition</Link>
                                                    </span>
                                                </div>
                                                <div class="form-group form-btn-look">
                                                    <button :disabled="form.processing">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <br>
                        </div>
                    </div>
                    <!-- <div v-else-if="$page.props.auth.user.role == '3' && $page.props.auth.user.is_active == '2'">
                            <div class="tabs" id="tabls">
                                <div class="full-chart">
                                    <div class="chart-title flex-class">
                                        <div class="circle-success">
                                            <i class="fa fa-check-circle"></i>
                                        </div>
                                        <div class="circle-text">
                                            <p>Hi, {{ $page.props.auth.user.name }} Congratulation Your Account Is Active</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                </div>
            </section>
        </div>
    </section>
    <script>


        // Event listeners for mobile menu toggling
        const openMobileMenu = () => {
            document.querySelector(".navbar").style.width = "200px";
            document.querySelector("#openmobilebar").style.display = "none";
            document.querySelector("#closemobilebar").style.display = "flex";
        };

        const closeMobileMenu = () => {
            document.querySelector(".navbar").style.width = "0px";
            document.querySelector("#openmobilebar").style.display = "flex";
            document.querySelector("#closemobilebar").style.display = "none";
        };

        window.onload = () => {
            let loader = document.querySelector(".shows"),
                percent = document.querySelector("#percent");

            let loaderStart = 0, loaderEnd = 98, loaderTime = 60;

            let start = setInterval(() => {
                loaderStart++;

                percent.textContent = loaderStart + '+';
                loader.style.width = `${loaderStart}`;
                loader.style.background = `rgb(173, 216, 230)`;


                if (loaderStart == loaderEnd) {
                    clearInterval(start);
                }
            }, loaderTime);


            let loader1 = document.querySelector("#shows1"),
                percent1 = document.querySelector("#percent1");

            let loaderStart1 = 0, loaderEnd1 = 36, loaderTime1 = 60;

            let start1 = setInterval(() => {
                loaderStart1++;

                percent1.textContent = loaderStart1 + '+';
                loader1.style.width = `${loaderStart1}`;
                loader1.style.background = `rgb(173, 216, 230)`;


                if (loaderStart1 == loaderEnd1) {
                    clearInterval(start1);
                }
            }, loaderTime1);




            let loader2 = document.querySelector("#shows2"),
                percent2 = document.querySelector("#percent2");

            let loaderStart2 = 0, loaderEnd2 = 75, loaderTime2 = 60;

            let start2 = setInterval(() => {
                loaderStart2++;

                percent2.textContent = loaderStart2 + '+';
                loader2.style.width = `${loaderStart2}`;
                loader2.style.background = `rgb(173, 216, 230)`;


                if (loaderStart2 == loaderEnd2) {
                    clearInterval(start2);
                }
            }, loaderTime2);


            let loader3 = document.querySelector("#shows3"),
                percent3 = document.querySelector("#percent3");

            let loaderStart3 = 0, loaderEnd3 = 55, loaderTime3 = 60;

            let start3 = setInterval(() => {
                loaderStart3++;

                percent3.textContent = loaderStart3 + '+';
                loader3.style.width = `${loaderStart3}`;
                loader3.style.background = `rgb(173, 216, 230)`;


                if (loaderStart3 == loaderEnd3) {
                    clearInterval(start3);
                }
            }, loaderTime3);

        }



    </script>

    <script>
        // Functionality for sidebar toggling
        const toggleSidebar = (isOpen, e) => {
            const navbar = document.querySelector(".navbar");
            const header = document.querySelector("#header");
            const mainbody = document.querySelector(".main-body");
            const spanElements = document.getElementsByTagName("span");
            console.log(mainbody)
            if (isOpen) {
                navbar.style.width = "240px";
                if (window.innerWidth <= 1394) {
                    header.style.width = "82.5%";
                    mainbody.style.width = "82.5%";
                } else {
                    mainbody.style.width = "88%";
                    header.style.width = "88%";
                }
                document.querySelector("#opensidebar").style.display = "none";
                document.querySelector("#closesidebar").style.display = "flex";
                for (let span of spanElements) {
                    span.style.display = "";
                }
            } else {
                navbar.style.width = "70px";
                header.style.width = "96%";
                mainbody.style.width = "96%";
                document.querySelector("#opensidebar").style.display = "flex";
                document.querySelector("#closesidebar").style.display = "none";
                for (let span of spanElements) {
                    span.style.display = "none";
                }
            }
        };
    </script>
</body>

</html>
