<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="asset/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="asset/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="asset/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="asset/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="asset/form.css">
</head>
<body>
    <section id="form">
        <form class="form-dd" @submit.prevent="submit">
            <div class="form">
                <div class="col-2 form-averter">
                    <div class="avater">
                        <img src="asset/avaters/3d-isolated-man-is-singing-png (2).png"
                            alt="">
                    </div>
                </div>
                <div class="col-2 form-data">
                    <div class="form-label">

                        <div class="form-header">
                            <h4>Welcome Back! 👋🏻</h4>
                            <p>Please sign-in to your account and start the adventure</p>
                        </div>
                        <div class="form-body">
                            <div class="form-group">
                                <input type="email" placeholder=" " id="email" v-model="form.email" required
                                    autocomplete="username">
                                <label for="">Email</label>
                            </div>
                            <InputError class="password-alert" :message="form.errors.email" />
                            <div class="form-group mb-5">
                                <input type="password" placeholder=" " id="password" v-model="form.password" required
                                    autocomplete="current-password">
                                <label for="">Password</label>
                            </div>
                            <InputError class="password-alert text-danger" :message="form.errors.password" />
                            <div class="form-group mb-5">
                                <Link  href="route('password.request')">Forgot your password?
                                </Link>
                            </div>
                            <div class="form-group  mb-5">
                                <button>SIGN IN</button>
                            </div>
                            <div class="form-group text-center mb-5">
                                <p>New on our platform?<a href="register.html"> Create an account</a></p>
                            </div>
                            <!-- <div class="form-group row-line mb-5">
                                <div class="col-3">
                                    <div class="line"></div>
                                </div>
                                <div class="col-3">
                                    Or
                                </div>
                                <div class="col-3">
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="form-group row-line gap-20 mb-5">
                                <div class="col-icon">
                                    <i class="fa fa-brands fa-facebook text-facebook"></i>
                                </div>
                                <div class="col-icon">
                                    <i class="fa fa-brands fa-twitter text-twitter"></i>
                                </div>
                                <div class="col-icon">
                                    <i class="fa fa-brands fa-github text-github"></i>
                                </div>
                                <div class="col-icon">
                                    <i class="fa fa-brands fa-google text-google"></i>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>
</html>